<div class="jumbotron container-fluid">
  <b>Chart:</b>
  </br>
  <div id="temp"></div>
  <div id="light"></div>
  <div id="sleepsec"></div>
  <div id="other"></div>
</div>
<script>
  var rawData = '{{{logdata}}}'
</script>
<script src="res/js/highcharts.js"></script>
<script src="res/js/charts.js"></script>
