<html>
  <head>
    <script type="text/javascript" src="res/js/jquery-2.2.1.min.js"></script>
    <script type="text/javascript" src="res/js/annyang.js"></script>
    <script type="text/javascript" src="res/js/domoValidate.js"></script>
    <script type="text/javascript" src="res/js/mic.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/SpeechKITT/0.3.0/speechkitt.min.js"></script>
  </head>
  <body>
    <div id="notify" style="font-size: 48pt;">
    </div>
  </body>
</html>
